.column {
    border-top: 1px solid black;
    float: right;
    padding: 0px;
    width: 0%;
    list-style-type: none;
  }
  
ul li{
  list-style-type: none;

}
.col-2{
  background-color:#800000;
  color:white;
  font-size: 10px;
  padding-left:0;
  margin-left:0;
  margin-inline-start: 0;
  float:left;
  width:100%;
}